@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  height: 100vh;
  background: rgba(255, 255, 224, 0.957);
  font-size: clamp(0.7rem, 3vw, 1.2rem);
  font-family: "Roboto Mono", monospace;
  border: 1rem solid rgb(229, 80, 16);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageTitle {
  color: rgb(34, 154, 159);
}

.homepageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0 auto;
  gap: 3rem;
  height: 90vh;
  width: 100%;
}
.homepageContainer h1, .homepageContainer button {
  font-size: clamp(2rem, 10vw, 8rem);
}
.homepageContainer .playBtn {
  border: none;
  background: rgb(34, 154, 159);
  color: rgba(255, 255, 224, 0.957);
  margin: 0.5rem;
  line-height: 1.5;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  width: 50vw;
  max-width: 960px;
}
.homepageContainer .playBtn:hover {
  background: rgb(38, 197, 202);
  cursor: pointer;
}

.categoryPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0 auto;
  gap: 3rem;
  height: 90vh;
  width: 100%;
  justify-content: flex-start;
  gap: 25%;
}
.categoryPageContainer h1 {
  font-size: clamp(1rem, 6vw, 5rem);
}
.categoryPageContainer .categories {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  justify-content: center;
  grid-gap: 1rem;
}
.categoryPageContainer .categories .categoryBtn {
  border: none;
  background: rgb(34, 154, 159);
  color: rgba(255, 255, 224, 0.957);
  margin: 0.5rem;
  line-height: 1.5;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  padding: 0.1em 0.3em;
  font-size: clamp(0.5rem, 4vw, 4rem);
  border-radius: 0.5em;
  width: 100%;
  margin: 0;
}
.categoryPageContainer .categories .categoryBtn:hover {
  background: rgb(38, 197, 202);
  cursor: pointer;
}
.categoryPageContainer .categories .categoryBtnUnclicked {
  border: none;
  background: rgb(34, 154, 159);
  color: rgba(255, 255, 224, 0.957);
  margin: 0.5rem;
  line-height: 1.5;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  padding: 0.1em 0.3em;
  font-size: clamp(0.5rem, 4vw, 4rem);
  border-radius: 0.5em;
  width: 100%;
  margin: 0;
  background: rgb(65, 105, 107);
  -webkit-text-decoration: red line-through;
          text-decoration: red line-through;
}
.categoryPageContainer .categories .categoryBtnUnclicked:hover {
  background: rgb(38, 197, 202);
  cursor: pointer;
}

.rulesPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0 auto;
  gap: 3rem;
  height: 90vh;
  width: 100%;
  justify-content: flex-start;
}
.rulesPageContainer h1 {
  font-size: clamp(1rem, 6vw, 5rem);
}
.rulesPageContainer button {
  border: none;
  background: rgb(34, 154, 159);
  color: rgba(255, 255, 224, 0.957);
  margin: 0.5rem;
  line-height: 1.5;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  background: rgb(229, 80, 16);
  font-size: clamp(1rem, 5vw, 3rem);
  padding: 1rem;
  margin: 2rem;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.rulesPageContainer button:hover {
  background: rgb(38, 197, 202);
  cursor: pointer;
}
.rulesPageContainer .rules {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.rulesPageContainer .instructions {
  margin: 1rem;
}
.rulesPageContainer .instructions li {
  color: rgb(34, 154, 159);
  font-size: clamp(1rem, 3.5vw, 2.5rem);
}
.rulesPageContainer .instructions h1 {
  color: rgb(229, 80, 16);
  text-align: center;
}

.loserPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0 auto;
  gap: 3rem;
  height: 90vh;
  width: 100%;
  width: 100vw;
  height: 100vh;
  color: rgba(255, 255, 224, 0.957);
  background: rgb(229, 80, 16);
  text-align: center;
}
.loserPageContainer h1 {
  font-size: clamp(1rem, 10vw, 10rem);
}
.loserPageContainer h2 {
  font-size: clamp(0.7rem, 7vw, 7rem);
}

.navbar, .footer {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  align-items: center;
}
.navbar .navbarBtn, .footer .navbarBtn {
  border: none;
  background: rgb(34, 154, 159);
  color: rgba(255, 255, 224, 0.957);
  margin: 0.5rem;
  line-height: 1.5;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  font-size: clamp(1rem, 5vw, 3rem);
  padding: 0.1em 0.5em;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 20%;
}
.navbar .navbarBtn:hover, .footer .navbarBtn:hover {
  background: rgb(38, 197, 202);
  cursor: pointer;
}

@media (max-width: 600px) {
  .categories {
    grid-template-columns: repeat(3, 30%);
  }
  .rules {
    flex-direction: column;
    width: 90%;
  }
}/*# sourceMappingURL=index.css.map */