// ------- Homepage -------
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

$primary: rgba(255, 255, 224, 0.957);
$secondary: rgb(34, 154, 159);
$border: rgb(229, 80, 16);
$fontSize: clamp(.7rem, 2.5vw, 1.2rem);
$medFontSize: clamp(.3rem, 3vw + .5rem, 3rem);
$lrgFontSize: clamp(2rem, 5vw + 1rem, 8rem);
$xxlrgFontSize: clamp(1rem, 10vw, 10rem);

$categoryBtnFontSize: clamp(.5rem, 3vw + .5rem, 4rem);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    background: $primary;
    font-size: $fontSize;
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    height: 100%;
    max-width: 1500px;
    margin: 0 auto;
    box-sizing: border-box;
}

// ------- Mixins -------
@mixin container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100svh;
}
@mixin button {
    border: none;
    background: $secondary;
    color: $primary;
    line-height: 1.3;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    &:hover {
        background: rgb(38, 197, 202);
        cursor: pointer;
    }
}

// ------- Navbar --------
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem;
    width: 95%;
}
.navbarBtn {
    @include button;
    font-size: $medFontSize;
    padding: .1em .5em;
    min-width: fit-content;
    width: 20%;
}

// ------------ Pages -------------
// ------ Homepage -------
.homepageContainer {
    @include container;
    text-align: center;
    width: 100%;
    border: 1em solid $border;
    h1 {
        font-size: $lrgFontSize;
        margin: .5em;
    }
    .playBtn {
        @include button;
        width: 50%;
        max-width: 960px;
        font-size: $lrgFontSize;
    }
}

// ------ Categories ------
.categoryPageContainer {
    @include container;
    width: 100%;
    border: 1em solid $border;
    .navbar {
        flex-wrap: wrap;
    }
    h1 {
        font-size: clamp(1rem, 3vw + 1rem, 5rem);
    }
    .categoriesPageContent {
        display: flex;
        justify-content: center;
        align-items: center;
        .categoryBtnGroup {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 90%;
            gap: .5em;
        }
        .categoryBtn {
            @include button;
            padding: .25em;
            font-size: $categoryBtnFontSize;
            border-radius: .5em;
            width: 20%;
            min-width: fit-content;
        }
        .categoryBtnUnclicked {
            @include button;
            padding: .1em .3em;
            font-size: $categoryBtnFontSize;
            border-radius: .5em;
            width: 20%;
            margin: 0;
            background: rgb(65, 105, 107);
            text-decoration: red line-through;
        }
    }
}

// ------- Rules --------
.rulesPageContainer {
    @include container;
    width: 100%;
    border: 1em solid $border;
    h1 {
        font-size: clamp(1rem, 3vw + 1rem, 5rem);
    }
    .rules {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: min(2em, 3rem);
        h1 {
            color: $border;
        }
        .instructions {
            width: 60vw;
        }
        .rulesBtnGroup {
            display: flex;
            flex-direction: column;
            width: 40%;
            gap: .5em;
            min-width: fit-content;
            button {
                @include button;
                background: $secondary;
                font-size: clamp(.5rem, 2vw + .5em, 3rem);
                padding: .5em 1em;
                margin: 0 .5em;
                width: 95%;
                &:hover {
                    background: $border;
                }
                &:active {
                    background:rgb(247, 86, 17);
                }

            }
            .active {
                background: $border;
            }
        }
        ul {
            margin: .5em;
        }
        li {
            font-size: max(2vw, 2.5vh);
            color: $secondary;
            margin: .25em 0;
            text-align: start;
            list-style-type: '* ';
        }
    }
}

// ------- Lose Page ------
.loserPageContainer {
    @include container;
    color: $primary;
    background: $border;
    width: 100%;
    .loserPageContent {
        h1 {
            font-size: $xxlrgFontSize;
        }
        h2 {
            font-size: clamp(.7rem, 7vw, 7rem);
        }
    }
    .navbar {
        padding: 1em 0;
    }
}

// ------ Rules Page -------
.gamePageContainer {
    @include container;
    width: 100%;
    border: 1em solid $border;
    h1 {
        font-size: $lrgFontSize;
        color: $secondary;
    }
    .footer {
        width: 100%;
        margin: 1em;
        button {
            width: 40%;
            min-width: fit-content;
            font-size: clamp(2rem, 6vw, 5rem);
            margin: 1rem;
        }
        button:first-of-type {
            background: grey;
        }
        button:disabled {
            opacity: 60%;
        }
    }
    .currentWord {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.pageTitle {
    color: $secondary;
}

// ---------- Responsiveness ----------
@media (max-width: 600px) {
    .categories {
        grid-template-columns: repeat(3, 30%);
    }
}