@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

body {
  background: rgba(255, 255, 224, 0.957);
  font-size: clamp(0.7rem, 2.5vw, 1.2rem);
  font-family: "Roboto Mono", monospace;
  border: 1rem solid rgb(229, 80, 16);
}

.pageTitle {
  color: rgb(34, 154, 159);
}

.navbar, .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  height: -moz-fit-content;
  height: fit-content;
  width: 95%;
}
.navbar .navbarBtn, .footer .navbarBtn {
  border: none;
  background: rgb(34, 154, 159);
  color: rgba(255, 255, 224, 0.957);
  line-height: 1.3;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  font-size: clamp(1rem, 5vw, 3rem);
  padding: 0.1em 0.5em;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 20%;
  height: -moz-fit-content;
  height: fit-content;
}
.navbar .navbarBtn:hover, .footer .navbarBtn:hover {
  background: rgb(38, 197, 202);
  cursor: pointer;
}

.homepageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-align: center;
}
.homepageContainer h1 {
  font-size: clamp(2rem, 10vw, 8rem);
  height: -moz-fit-content;
  height: fit-content;
  margin: 0.5em;
}
.homepageContainer .playBtn {
  border: none;
  background: rgb(34, 154, 159);
  color: rgba(255, 255, 224, 0.957);
  line-height: 1.3;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 960px;
  font-size: clamp(2rem, 10vw, 8rem);
}
.homepageContainer .playBtn:hover {
  background: rgb(38, 197, 202);
  cursor: pointer;
}

.categoryPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.categoryPageContainer h1 {
  font-size: clamp(1rem, 6vw, 5rem);
}
.categoryPageContainer .categoriesPageContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.categoryPageContainer .categoriesPageContent .categoryBtnGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  width: 90%;
  gap: 1em;
}
.categoryPageContainer .categoriesPageContent .categoryBtn {
  border: none;
  background: rgb(34, 154, 159);
  color: rgba(255, 255, 224, 0.957);
  line-height: 1.3;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  padding: 0.5em;
  font-size: clamp(0.5rem, 3vw, 4rem);
  border-radius: 0.5em;
  width: 21%;
  height: -moz-fit-content;
  height: fit-content;
}
.categoryPageContainer .categoriesPageContent .categoryBtn:hover {
  background: rgb(38, 197, 202);
  cursor: pointer;
}
.categoryPageContainer .categoriesPageContent .categoryBtnUnclicked {
  border: none;
  background: rgb(34, 154, 159);
  color: rgba(255, 255, 224, 0.957);
  line-height: 1.3;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  padding: 0.1em 0.3em;
  font-size: clamp(0.5rem, 3vw, 4rem);
  border-radius: 0.5em;
  width: 20%;
  margin: 0;
  background: rgb(65, 105, 107);
  -webkit-text-decoration: red line-through;
          text-decoration: red line-through;
}
.categoryPageContainer .categoriesPageContent .categoryBtnUnclicked:hover {
  background: rgb(38, 197, 202);
  cursor: pointer;
}

.rulesPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
}
.rulesPageContainer h1 {
  font-size: clamp(1rem, 6vw, 5rem);
}
.rulesPageContainer .rules {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.rulesPageContainer .rules h1 {
  color: rgb(229, 80, 16);
}
.rulesPageContainer .rules button {
  border: none;
  background: rgb(34, 154, 159);
  color: rgba(255, 255, 224, 0.957);
  line-height: 1.3;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  background: rgb(229, 80, 16);
  font-size: clamp(1rem, 3vw, 3rem);
  padding: 0.5em 1em;
  margin: 0 1em;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 20%;
  height: -moz-fit-content;
  height: fit-content;
}
.rulesPageContainer .rules button:hover {
  background: rgb(38, 197, 202);
  cursor: pointer;
}
.rulesPageContainer .rules li {
  color: rgb(34, 154, 159);
  font-size: clamp(0.5em, 2vw, 5em);
  margin: 1em 0;
  text-align: start;
  list-style-type: "* ";
}

.loserPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 224, 0.957);
  background: rgb(229, 80, 16);
}
.loserPageContainer .loserPageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loserPageContainer .loserPageContent h1 {
  font-size: clamp(1rem, 10vw, 10rem);
  height: 45%;
}
.loserPageContainer .loserPageContent h2 {
  font-size: clamp(0.7rem, 7vw, 7rem);
  height: -moz-fit-content;
  height: fit-content;
}
.loserPageContainer .footer {
  justify-content: space-between;
}

.gamePageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.gamePageContainer .navbar {
  justify-content: flex-start;
}
.gamePageContainer h1 {
  font-size: clamp(1rem, 10vw, 10rem);
  color: rgb(34, 154, 159);
}
.gamePageContainer .footer {
  justify-content: space-around;
}
.gamePageContainer .footer button {
  font-size: clamp(2rem, 6vw, 5rem);
  width: 40%;
}
.gamePageContainer .footer button:first-of-type {
  background: grey;
}
.gamePageContainer .footer button:disabled {
  opacity: 60%;
}
.gamePageContainer .currentWord {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gamePageContainer .currentWord h1 {
  height: -moz-fit-content;
  height: fit-content;
}

@media (max-width: 600px) {
  .categories {
    grid-template-columns: repeat(3, 30%);
  }
  .rules {
    flex-direction: column;
    width: 90%;
  }
}/*# sourceMappingURL=index.css.map */