// ------- Homepage -------
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

$primary: rgba(255, 255, 224, 0.957);
$secondary: rgb(34, 154, 159);
$border: rgb(229, 80, 16);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
    height: 100vh;
    background: $primary;
    font-size: clamp(.7rem, 3vw, 1.2rem);
    font-family: 'Roboto Mono', monospace;
    border: 1rem solid $border;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageTitle {
    color: $secondary;
}

// ------- Mixins -------
@mixin container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0 auto;
    gap: 3rem;
    height: 90vh;
    width: 100%;
}

@mixin button {
    border: none;
    background: $secondary;
    color: $primary;
    margin: .5rem;
    line-height: 1.5;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    &:hover {
        background: rgb(38, 197, 202);
        cursor: pointer;
    }
}

// ------------ Pages -------------
// ------ Homepage -------
.homepageContainer {
    @include container;
    h1, button {
        font-size: clamp(2rem, 10vw, 8rem);
    }
    .playBtn {
        @include button;
        width: 50vw;
        max-width: 960px;
    }
}

// ------ Categories ------

.categoryPageContainer {
    @include container;
    h1 {
        font-size: clamp(1rem, 6vw, 5rem);
    }
    justify-content: flex-start;
    gap: 25%;

    .categories {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        justify-content: center;
        grid-gap: 1rem;

        .categoryBtn {
            @include button;
            padding: .1em .3em;
            font-size: clamp(.5rem, 4vw, 4rem);
            border-radius: .5em;
            width: 100%;
            margin: 0;
        }
        .categoryBtnUnclicked {
            @include button;
            padding: .1em .3em;
            font-size: clamp(.5rem, 4vw, 4rem);
            border-radius: .5em;
            width: 100%;
            margin: 0;
            background: rgb(65, 105, 107);
            text-decoration: red line-through;
        }
    }
}

// ------- Rules --------
.rulesPageContainer {
    @include container;
    h1 {
        font-size: clamp(1rem, 6vw, 5rem);
    }
    justify-content: flex-start;

    button {
        @include button;
        background: $border;
        font-size: clamp(1rem, 5vw, 3rem);
        padding: 1rem;
        margin: 2rem;
        min-width: fit-content;
    }

    .rules {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    .instructions {
        margin: 1rem;
    }
    .instructions li {
        color: $secondary;
        font-size: clamp(1rem, 3.5vw, 2.5rem);
    }
    .instructions h1 {
        color: $border;
        text-align: center;
    }
}

// ------- Lose Page ------
.loserPageContainer {
    @include container;
    width: 100vw;
    height: 100vh;
    color: $primary;
    background: $border;
    text-align: center;
    h1 {
        font-size: clamp(1rem, 10vw, 10rem);
    }
    h2 {
        font-size: clamp(.7rem, 7vw, 7rem);

    }
}

// ------- Navbar --------
.navbar, .footer {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    align-items: center;

    .navbarBtn {
        @include button;
        font-size: clamp(1rem, 5vw, 3rem);
        padding: .1em .5em;
        min-width: fit-content;
        width: 20%;
    }
}

// ---------- Responsiveness ----------
@media (max-width: 600px) {
    .categories {
        grid-template-columns: repeat(3, 30%);
    }

    .rules {
        flex-direction: column;
        width: 90%;
    }
}