// ------- Homepage -------
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

$primary: rgba(255, 255, 224, 0.957);
$secondary: rgb(34, 154, 159);
$border: rgb(229, 80, 16);
$fontSize: clamp(.7rem, 2.5vw, 1.2rem);
$medFontSize: clamp(1rem, 5vw, 3rem);
$lrgFontSize: clamp(2rem, 10vw, 8rem);
$xxlrgFontSize: clamp(1rem, 10vw, 10rem);

$categoryBtnFontSize: clamp(.5rem, 3vw, 4rem);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

body {
    background: $primary;
    font-size: $fontSize;
    font-family: 'Roboto Mono', monospace;
    border: 1rem solid $border;
}

.pageTitle {
    color: $secondary;
}

// ------- Mixins -------
@mixin container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin button {
    border: none;
    background: $secondary;
    color: $primary;
    line-height: 1.3;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    &:hover {
        background: rgb(38, 197, 202);
        cursor: pointer;
    }
}

// ------- Navbar --------
.navbar, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    height: fit-content;
    width: 95%;

    .navbarBtn {
        @include button;
        font-size: $medFontSize;
        padding: .1em .5em;
        min-width: fit-content;
        width: 20%;
        height: fit-content;
    }
}

// ------------ Pages -------------
// ------ Homepage -------
.homepageContainer {
    @include container;
    text-align: center;

    h1 {
        font-size: $lrgFontSize;
        height: fit-content;
        margin: .5em;
    }
    
    .playBtn {
        @include button;
        width: 50%;
        height: fit-content;
        max-width: 960px;
        font-size: $lrgFontSize;
    }
}

// ------ Categories ------

.categoryPageContainer {
    @include container;
    h1 {
        font-size: clamp(1rem, 6vw, 5rem);
    };

    .categoriesPageContent {
        display: flex;
        justify-content: center;
        align-items: center;

        .categoryBtnGroup {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            height: fit-content;
            width: 90%;
            gap: 1em;
        }
        .categoryBtn {
            @include button;
            padding: .5em;
            font-size: $categoryBtnFontSize;
            border-radius: .5em;
            width: 21%;
            height: fit-content;
        }
        .categoryBtnUnclicked {
            @include button;
            padding: .1em .3em;
            font-size: $categoryBtnFontSize;
            border-radius: .5em;
            width: 20%;
            margin: 0;
            background: rgb(65, 105, 107);
            text-decoration: red line-through;
        }
    }
}

// ------- Rules --------
.rulesPageContainer {
    @include container;
    height: fit-content;

    h1 {
        font-size: clamp(1rem, 6vw, 5rem);
    }
    .rules {
        display: flex;
        gap: 1.5rem;
        align-items: center;

        h1 {
            color: $border;
        }
        button {
            @include button;
            background: $border;
            font-size: clamp(1rem, 3vw, 3rem);
            padding: .5em 1em;
            margin: 0 1em;
            min-width: fit-content;
            width: 20%;
            height: fit-content;
        }
        li {
            color: $secondary;
            font-size: clamp(.5em, 2vw, 5em);
            margin: 1em 0;
            text-align: start;
            list-style-type: '* ';
        }
    }
    
}

// ------- Lose Page ------
.loserPageContainer {
    @include container;
    color: $primary;
    background: $border;
    
    .loserPageContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: $xxlrgFontSize;
            height: 45%;
        }
        h2 {
            font-size: clamp(.7rem, 7vw, 7rem);
            height: fit-content;
        }
    }
    .footer {
        justify-content: space-between;
    }
}

// ------ Rules Page -------
.gamePageContainer {
    @include container;

    .navbar {
        justify-content: flex-start;
    }
    h1 {
        font-size: $xxlrgFontSize;
        color: $secondary;
    }
    .footer {
        justify-content: space-around;
        button {
            font-size: clamp(2rem, 6vw, 5rem);
            width: 40%;
        }
        button:first-of-type {
            background: grey;
        }
        button:disabled {
            opacity: 60%;
        }
    }
    .currentWord {
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            height: fit-content;
        }
    }
}

// ---------- Responsiveness ----------
@media (max-width: 600px) {
    .categories {
        grid-template-columns: repeat(3, 30%);
    }

    .rules {
        flex-direction: column;
        width: 90%;
    }
}